.changelog-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  --ifm-hq-tags-green: #E2FFEF;
  --ifm-alert-card-green: #E2FFEF;
  --ifm-alert-card-blue: #f6f6ff;
  --ifm-alert-card-grey: #eaeaea;
  --ifm-alert-card-yellow: #ffba0026;
  --ifm-blue-button-text: #ffffff;
  --ifm-green-btn-background: #26bc6a;

  &[data-theme='dark'] {
    --ifm-hq-tags-green: #303030;
    --ifm-alert-card-green: #263427;
    --ifm-alert-card-blue: #293c4c;
    --ifm-alert-card-grey: #2d2d2d;
    --ifm-alert-card-yellow: #4d3800;
    --ifm-blue-button-text: #5468ff;
    --ifm-green-btn-background: #264232;
  }
  
  .changelog-card {
    display: flex;

    .left-changelogcard {
      padding-right: 24px;
      width: 32%;
      display: flex;
      flex-direction: column;
    
      &.br-right {
        border-right: 2px solid var(--dhq-border-color);
      }
    
      > * {
        width: fit-content;
        align-self: flex-end;
      }
      .stickycard {
        position: sticky;
        top: 82px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      .stickycard::after {
        color: var(--ifm-color-primary);
        content: "";
        font-size: 11px;
        margin-top: 6px;
        margin-right: -31px;
        display: flex;
        width: 12px;
        height: 12px;
        border: 2px solid;
        border-radius: 25px;
        background: #e2ffef;
        position: absolute;
      }
    }
    
    .right-changelogcard {
      width: 50%;
      padding-left: 20px;
      padding-top: 24px !important;

      .date-tag-container {
        display: none;
      }
      .embed {
        margin-top: 10px;
        .embed-video {
          width: 100%;
          height: auto;
          display: block;
          margin: 0 auto;
          max-width: 100%;
          outline: none;
          border: 1px solid #ddd;
          border-radius: 8px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
      
        .embed-image {
          max-width: 100%;
          height: auto;
          display: block;
          margin: 0 auto;
        }
      }
      ul {
        padding: 0;
      }
      .card-descriptions {
        font-size: 13px;
      
        .changelog-category-item {
          text-align: justify;
        }
        
      }
      .changelogcard-title {
        font-size: 16px;
        font-weight: 600;
        color: var(--ifm-color-primary);
      }

      .changelogcard-heading {
        font-size: 24px !important;
        font-weight: 700;
        color: var(--dhq-header-color);
      }
    }
    .tags-container {
      display: flex;
      flex-wrap: wrap;
      max-width: 300px;
      justify-content: flex-start;
    }
    ul {
      list-style: none;
    }
    .changelogcard-date {
      color: var(--dhq-header-color) !important;
    }

    .changelogcard-tag {
      margin-left: 4px !important;
      margin-right: 0px !important;
      background: var(--ifm-hq-tags-green) !important;
    }

    .alert-card {
      display: flex;
      flex-direction: column;
      background-color: var(--ifm-alert-card-green);
      border: 1px solid #d1d2db;
      justify-content: space-between;
      border-radius: 6px;
      position: relative;
      max-width: 100%;
      min-width: 100px;
      word-wrap: break-word;
      padding: 12px 14px;
      .green {
        background: var(--ifm-alert-card-green) !important;
      }
      .blue {
        background: var(--ifm-alert-card-blue) !important;
      }
      .grey {
        background: var(--ifm-alert-card-grey) !important;
      }
      .yellow {
        background: var(--ifm-alert-card-yellow) !important;
      }
  
      .alert-card-header {
        display: flex;
        align-items: center;
      }
      .alert-card-title {
        color: var(--dhq-header-color);
        font-weight: 700;
        font-size: 16px;
      }
      
      .alert-card-descriptions,
      .alert-card-points {
        font-weight: 500;
        font-size: 13px;
        color: var(--ifm-blockquote-color);
      }
      
      .alert-card-points {
        margin-left: 18px;
      }
      
      .alert-card-points li {
        list-style-type: disc;
      }
      
      .alert-card-points li::marker {
        font-size: 18px;
      }
      
      .alert-card-icon {
        width: 20px;
      }
    }
  }
  .coming-soon {
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    .title {
      color: #26bc6a;
      font-weight: 600;
      font-size: 22px;
    }
    .redirect-doc {
      margin-top: 20px;
      background: var(--ifm-green-btn-background);
      color: var(--ifm-color-white);
      border-radius: 4px;
      padding: 10px;
      width: fit-content;
      align-self: center;
      align-items: center;
    }
  }  
  
}

@media screen and (max-width: 768px) {
  .changelog-main {
    padding: 0 20px;

    .stickycard::after {
      display: none;
    }
    .stickycard {
      position: relative;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .changelog-card {
      flex-direction: column;

      .left-changelogcard {
        display: none;
        .br-right{
            border:none;
        }
      }
      
      .right-changelogcard {
        width: 100%;
        padding-left: 0;
        padding-top: 24px !important;
        .changelogcard-date {
          align-self: center;
          font-size: 12px !important;
        }
        .changelogcard-tag {
          font-size: 10px !important;
          margin-bottom: 2px !important;
          align-self: center;
        }
        .date-tag-container {
          display: flex;
          justify-content: space-between;
        }
      }

      .tags-container {
        justify-content: flex-end;
        .changelogcard-tag {
          margin-left: 0 !important;
          margin-right: 4px !important;
        }
      }
    }
  }
}
