.sidebar_item_wrapper {
  display: flex;
  align-items: center;
}

.sidebar_item_wrapper svg {
  margin-left: 0.5rem;
}

/* second svg in case of cloud-and-enterprise icon */
.sidebar_item_wrapper svg:nth-child(2) {
  margin-left: 0;
}