/* ChangelogCard.css */
.changelog-card {
  background-color: var(--dhq-body-background);
  border-radius: 20px;
  box-shadow: 0 0 10px var(--dhq-border-color);
  margin: 40px;
  padding: 20px;
  transition: transform 0.1s ease-in-out;
  position: relative;
  z-index: 2; /* Set z-index explicitly */
}

.dark-mode .changelog-card {
  background-color: var(--ifm-background-color-dark);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  color: var(--ifm-color-primary-dark);
}

.changelog-card:hover {
  transform: scale(1.01);
}
/* Adjust the z-index for child elements if necessary */
.card-title,
.card-subtitle,
.card-descriptions,
.changelog-category {
  position: relative;
  z-index: 3; /* Set z-index higher than card */
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--ifm-color-primary);
}

.card-subtitle {
  font-size: 1rem;
  color: var(--ifm-color-subtitle);
  margin-top: 5px;
}

.card-descriptions {
  margin-top: 10px;
}

.changelog-category {
  margin-bottom: 10px;
}

.changelog-category h4 {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--ifm-color-heading);
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.changelog-comp-div {
  position: relative;
}

.changelog-comp-div::before {
  --tw-content: "";
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235/var(--tw-border-opacity));
  border-left-width: 4px;
  height: calc(100% - 90px);
  z-index: 1;
  left: 74px;
  position: absolute;
  top: 3rem;
  width: 4px;
  background-color: #e5e7eb;
}

/* Add this to your existing CSS file or create a new CSS file for Changelog search bar */

.changelog-search-bar {
  margin-bottom: 20px;
}

.changelog-search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--ifm-color-subtitle);
  border-radius: 5px;
  margin-bottom: 10px;
}

.changelog-search-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--ifm-color-subtitle);
  border-radius: 5px;
  appearance: none;
  background: transparent;
  border: 0;
  color: var(--docsearch-text-color);
  flex: 1;
  font: inherit;
  font-size: 1.2em;
  height: 100%;
  outline: none;
  padding: 0 0 0 8px;
  width: 80%;
}

.m-left-right-auto {
  margin-left: auto;
  margin-right: auto;
}

.changelog-main .DocSearch-Form{
  margin: 40px;
  width: auto;
}