/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */


/* You can override the default Infima variables here. */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> */

:root {
    --ifm-color-primary: #26bc6a;
    --ifm-color-primary-dark: #29784c;
    --ifm-color-primary-darker: #277148;
    --ifm-color-primary-darkest: #205d3b;
    --ifm-color-primary-light: #33925d;
    --ifm-color-primary-lighter: #359962;
    --ifm-color-primary-lightest: #3cad6e;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
    --dhq-header-color: #344658;
    --dhq-body-color: #000;
    --dhq-background-light: #26bc6a16;
    --dhq-background-menu: #f3f5f7;
    --dhq-shadow-lw: 0px 2px 6px #0003;
    --dhq-card-background: #fff;
    --dhq-border-color: #D1D2DB;
    --dhq-nev-color: #F3F5F8;
    --dhq-nev-hover-color: #e7ebef;
    --dhq-body-background: #fff;
    --dhq-navbar-background: #fff;
}


/* For readability concerns, you should choose a lighter palette in dark mode. */

[data-theme='dark'] {
    --ifm-color-primary: #26bc6a;
    --ifm-color-primary-dark: #21af90;
    --ifm-color-primary-darker: #1fa588;
    --ifm-color-primary-darkest: #1a8870;
    --ifm-color-primary-light: #29d5b0;
    --ifm-color-primary-lighter: #32d8b4;
    --ifm-color-primary-lightest: #4fddbf;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
    --dhq-body-color: #ffffff;
    --dhq-header-color: #ffffff;
    --dhq-background-menu: #1c262f;
    --dhq-shadow-lw: 0px 2px 6px #0006;
    --dhq-card-background: #1c262f;
    --dhq-border-color: #3a3a3e;
    --dhq-nev-color: #1c262f;
    --dhq-nev-hover-color: #23303d;
    --dhq-body-background: #141c22;
    --dhq-navbar-background: #23303d;
}

html,
body {
    font-family: montserrat;
    color: var(--dhq-body-color);
    background-color: var(--dhq-body-background);
    font-size: 16px;
}

.table-of-contents__link {
    color: var(--dhq-body-color);
    padding-left: 1rem;
    margin-left: -8px;
}

.table-of-contents__link:hover,
.table-of-contents__link:hover code,
.table-of-contents__link--active,
.table-of-contents__link--active code {
    color: var(--ifm-color-primary);
    position: relative;
    font-weight: 600;
}

.table-of-contents__link--active,
.table-of-contents__link--active code {
    color: var(--ifm-color-primary);
    position: relative;
    font-weight: 600;
    border-left: 2px solid;
}

.table-of-contents {
    padding: 0px !important;
}

.table-of-contents li {
    /* margin: 0px; */
}

.table-of-contents__link--active:before {
    content: "";
    background: var(--ifm-color-primary);
    width: 12px;
    height: auto;
    position: absolute;
    left: 0;
    z-index: 9;
}

.pagination-nav__label {
    font-weight: 500;
}

.pagination-nav .pagination-nav__link--next .pagination-nav__label:after {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTMgOGg5TTguMTY4IDEyLjVsNC41LTQuNS00LjUtNC41IiBzdHJva2U9IiMxQjI3MzgiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=) no-repeat;
    background: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E    %3Cpath d='M1 5H11M11 5L6.71429 1M11 5L6.71429 9' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat;
    /* background: :url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 10'%3E%3Cpath d='M10 10h123v123H10z'/%3E%3C/svg%3E" */
}


/* background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 200'%3E%3Cpath d='M10 10h123v123H10z'/%3E%3C/svg%3E"); */


/* height: 1rem;
    width: 1rem; 
} */

.pagination-nav .pagination-nav__link:first-child .pagination-nav__label:before {
    margin-right: 0.25rem;
    transform: rotate(180deg);
}

.pagination-nav .pagination-nav__link--next .pagination-nav__label:after,
.pagination-nav .pagination-nav__link:first-child .pagination-nav__label:before {
    content: "";
    display: inline-block;
    margin-bottom: -1px;
    transition: transform var(--ifm-transition-fast) linear;
}

.pagination-nav .pagination-nav__link--next .pagination-nav__label:after {
    margin-left: 0.25rem;
}

.pagination-nav .pagination-nav__link--next .pagination-nav__label:after {
    margin-bottom: -5px;
}

.pagination-nav .pagination-nav__link--next .pagination-nav__label:after,
.pagination-nav .pagination-nav__link:first-child .pagination-nav__label:before,
.theme-edit-this-page:after {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTMgOGg5TTguMTY4IDEyLjVsNC41LTQuNS00LjUtNC41IiBzdHJva2U9IiMxQjI3MzgiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=) no-repeat;
    background: url("data:image/svg+xml,%3Csvg width='15' height='13' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E    %3Cpath d='M1 5H11M11 5L6.71429 1M11 5L6.71429 9' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat;
    height: 1rem;
    width: 1rem;
}

[data-theme='dark'] .pagination-nav .pagination-nav__link--next .pagination-nav__label:after,
[data-theme='dark'] .pagination-nav .pagination-nav__link:first-child .pagination-nav__label:before,
[data-theme='dark'] .theme-edit-this-page:after {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTMgOGg5TTguMTY4IDEyLjVsNC41LTQuNS00LjUtNC41IiBzdHJva2U9IiMxQjI3MzgiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=) no-repeat;
    background: url("data:image/svg+xml,%3Csvg width='15' height='13' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E    %3Cpath d='M1 5H11M11 5L6.71429 1M11 5L6.71429 9' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat;
    height: 1rem;
    width: 1rem;
}

.pagination-nav .pagination-nav__link:not(:empty):hover {
    background-color: var(--dhq-nev-hover-color);
}

.pagination-nav .pagination-nav__link:not(:empty) {
    background-color: var(--dhq-nev-color);
    border-color: #0000;
    box-shadow: var(--dhq-shadow-lw);
    color: var(--color-gray-74);
}

.pagination-nav .pagination-nav__link:first-child:hover .pagination-nav__label:before {
    transform: rotate(180deg) translateX(.25rem)
}

.pagination-nav .pagination-nav__link--next:hover .pagination-nav__label:after,
.theme-edit-this-page:hover:after {
    transform: translateX(.25rem)
}

a {
    font-weight: 500;
}

.menu__link {
    font-size: 13px;
    color: var(--dhq-body-color);
    font-weight: 500;
}

.menu__link--active {
    font-weight: 700;
    color: var(--ifm-menu-color-active);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: montserrat;
    color: var(--dhq-header-color);
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

.sidebar_heading {
    font-size: 13px !important;
    font-weight: 700 !important;
    margin-bottom: 0!important;
    margin-top: 18px!important;
    color: var(--dhq-body-color);
}

.theme-doc-sidebar-container .menu {
    padding: 0.5rem 0rem 0.5rem 1.5rem;
    border-right: 1px solid var(--dhq-border-color);
    min-width: 320px;
    background-color: var(--dhq-background-menu);
}

.docSidebarContainer_node_modules-\@docusaurus-theme-classic-lib-theme-DocPage-Layout-Sidebar-styles-module {
    min-width: 320px;
}

.menu__caret:before {
    background: var(--ifm-menu-link-sublist-icon) 50% / 1.2rem 1.2rem;
}

.theme-doc-sidebar-menu .menu__list-item .menu__list-item-collapsible .menu__link--active {
    background: var(--dhq-background-light)!important;
}

.menu__link--active:not(.menu__link--sublist) {
    background-color: var(--dhq-background-light);
}

.menu__list-item-collapsible--active {
    background: var(--dhq-background-light);
}

.breadcrumbs__item--active .breadcrumbs__link {
    background: var(--dhq-background-light);
    font-weight: 500;
}

.container {
    padding: 24px 42px !important;
}

.containerGridSampleApp {
    margin: 0px;
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    margin-bottom: 54px;
}

.containerColumnSampleApp {
    border: 1px solid #dadce0 !important;
    border-radius: 8px;
    box-shadow: var(--dhq-shadow-lw);
    border: none !important;
    padding: 20px;
    background: var(--dhq-card-background);
}

.columnGrid {
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
}

.column-one {
    order: 1;
}

.column-two {
    order: 2;
}

.column-three {
    order: 3;
}

.containerImage {
    margin: 1px;
    font-weight: bold;
    vertical-align: center;
}

.navbar {
    background-color: var(--dhq-navbar-background);
    box-shadow: var(--dhq-shadow-lw);
    /* height: 72px; */
}

.pagination-nav__sublabel {
    display: none;
}

html[data-theme=dark] .pagination-nav .pagination-nav__link:not(:empty),
html[data-theme=dark] .prism-code code,
html[data-theme=dark] .theme-doc-sidebar-container {
    background-color: var(--dhq-background-menu);
}


/* mobile #2 to be updated */

.navbar-sidebar__item {
    padding: 1.5rem;
}

.navbar__toggle {
    margin-right: 1rem;
}


/* scrollbar */

:root ::-webkit-scrollbar {
    width: 6px;
}

:root ::-webkit-scrollbar-track {
    background: var(--dhq-background-menu);
}

:root ::-webkit-scrollbar-thumb {
    background: var(--dhq-border-color);
}

:root ::-webkit-scrollbar-thumb:hover {
    background: #E8E8Ed !important;
}