@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBM-Plex-Sans-300.woff2') format('woff2');

  /* Super Modern Browsers */
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBM-Plex-Sans-400.woff2') format('woff2');

  /* Super Modern Browsers */
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBM-Plex-Sans-500.woff2') format('woff2');

  /* Super Modern Browsers */
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBM-Plex-Sans-600.woff2') format('woff2');

  /* Super Modern Browsers */
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBM-Plex-Mono-300.woff2') format('woff2');

  /* Super Modern Browsers */
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBM-Plex-Mono-600.woff2') format('woff2');

  /* Super Modern Browsers */
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBM-Plex-Mono-normal.woff2') format('woff2');

  /* Super Modern Browsers */
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono Regular';
  src: url('/fonts/IBM-Plex-Mono-Regular.woff2') format('woff2');

  /* Super Modern Browsers */
  font-weight: normal;
  font-display: swap;
}
